
div {
  margin: 25px 30px 25px 30px;
}

.table-bordered{
    width: 70%;
}
input[type=text]:focus {
    color: black;
  }
  button, input[type=button], input[type=reset] {
    background-color: royalblue;
    font-size: 12px;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 12px;
    width: 25px;
  }
.catbutton{
  border-radius: 12px;
  width: 25px;
}

a:hover {
    opacity: 0.5;
  }

  input[type=text], input[type=number], input[type=password], input[type=email]  {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 50%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 12px;
  }

  input[type=submit]:hover {
    background-color: 'black';
  }

  #transferButton{
    border-radius: 12px;
    width: 20%;
  }
  #jumbro {
    padding: 1rem 1rem;
    margin-bottom: 1rem;
  }
